.env
.DS_Store

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Godot specific ignores
.godot/


### .NET ###
# Build results
[Dd]ebug/
[Rr]elease/
[Bb]in/
[Oo]bj/
*.pdb
*.xml
# NuGet packages
*.nupkg
.nuget/
packages/
# Rider/ReSharper
.idea/
*.sln.iml
# MSTest
*.TestResult.xml
TestResults/

